@using Microsoft.AspNet.Identity
@using PirateJobBoard.DATA.EF
@if (Request.IsAuthenticated)
{
    PirateJobBoardEntities db = new PirateJobBoardEntities();
    string pirateID = User.Identity.GetUserId();
    PirateDetail currentPirate = db.PirateDetails.Where(p => p.PirateID == pirateID).FirstOrDefault();

    string pirateFN = "Guest";
    string color = currentPirate.HasScurvy == true ? "greenyellow; text-shadow: 0 0 5px black" : "black";

    if (currentPirate != null)
    {
        pirateFN = currentPirate.FirstName;
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul id="loginPartial" class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Ahoy there, " + pirateFN + "!", "Index", "PirateDetails", routeValues: null, htmlAttributes: new { title = "Manage", style = $"color: {color}", @class= "fw-bolder" })
            </li>
            <li class="fw-bolder text-black"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-lg btn-primary rounded-pill bg-gradient order-0" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-lg btn-primary rounded-pill bg-gradient order-0" })</li>
    </ul>
}
